<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="crudApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Administrator - Home</title>
<link href="css/reset.css" type="text/css" rel="stylesheet" />
<link href="css/layout.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/sweet-alert.css">
<script type="text/javascript" src="js/angular.min.js"></script>


<script type="text/javascript" src="js/angular-idle.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>

<script src="js/angular-local-storage.js"></script>

<script type="text/javascript" src="js/angular-route.js"></script>
<script type="text/javascript" src="js/angular-sanitize.js"></script>
 <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>

<link href="css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
    ul>li, a{cursor: pointer;}
    </style>
</head>

<body>


<div id="">
	<div data-ng-controller="CommonController"></div>
	<div data-ng-view="">
	 
		<!-- content -->
	</div>
</div>

<script type="text/ng-template" id="warning-dialog.html">
      <div class="modal-header">
          <h3>You're Idle. Do Something!</h3>
      </div>
      <div class="modal-body" idle-countdown="countdown" ng-init="countdown=5">
          <p>You'll be logged out in <span class="label label-warning">{{countdown}}</span> <span ng-pluralize="" count="countdown" when="{'one': 'second', 'other': 'seconds' }"></span>.</p>
          <progressbar max="5" value="countdown" animate="true" class="progress-striped active" type="warning"></progressbar>
      </div>

    </script>
    <script type="text/ng-template" id="timedout-dialog.html">
      <div class="modal-header">
          <h3>You've Timed Out!</h3>
      </div>
      <div class="modal-body">
          <p>
            You were idle too long. On any further action you will be logged out.
          </p>
      </div>

    </script>

<script src="js/app.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="js/sweet-alert.min.js" type="text/javascript"></script>
<script src="js/SweetAlert.js" type="text/javascript"></script>
<script src="js/loading-bar.js"></script>
 <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link href='css/loading-bar.css' rel='stylesheet' />
	
</body>
</html>