<div id="sidebar" data-ng-controller="SidebarMenuController">
<ul class="sideNav">                   	                    	
    <li><a href="#/" data-ng-class="{active:isActive('/')}">Home</a></li>
		<li><a href="#/quarterly" data-ng-class="{active:isActive('/user_user_listView'')}">_user_listView'</a></li>


	<li><a href="javascript://" data-ng-click="logoutnow()">Logout</a></li>
</ul>
</div>					