<div data-ng-controller="MenuController">
<nav class="navbar navbar-inverse">

    <div class="navbar-header">
    <!--  <img style="width: 300px;height: 60px;" src="img/mmrdalogo.png"/>-->
    </div>
    <ul class="nav navbar-nav">
     <li  style="margin-left: 60px;"><a href="#/" data-ng-class="{active:isActive('/')}">Home</a></li>
			
			<li><a href="#/user_user_listView" data-ng-class="{active:isActive('/user_user_listView')}">View list of vehicles</a></li>
			
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
<li class="logout"><a href="javascript://" data-ng-click="logoutnow()">Logout</a></li>      
    </ul>
 
</nav>
</div>


<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
 <!--   <ul class="nav navbar-nav">
    <li><a href="#/" data-ng-class="{active:isActive('/')}">Home</a></li>
			<li><a href="#/users" data-ng-class="{active:isActive('/users')}">Manage FD's</a></li>
			<li><a href="#/newuser" data-ng-class="{active:isActive('/newuser')}">Edit data</a></li>
			<li><a href="#/annualy" data-ng-class="{active:isActive('/annualy')}">Calculate annualy</a></li>
			<li><a href="#/half_yearly" data-ng-class="{active:isActive('/half_yearly')}">half_yearly</a></li>
			<li><a href="#/quarterly" data-ng-class="{active:isActive('/quarterly')}">half_yearly</a></li>

        	<li class="logout"><a href="javascript://" data-ng-click="logoutnow()">Logout</a></li>
      
    </ul>
  </div>
</nav>
<!--------------------------------------------->
