<div data-ng-controller="MenuController">

        <div align="center" style="width:122px;height=103px;color:#54A144;font-weight:bold;">Live Tracking</div>
<ul id="mainNav">        	
        	<li><a href="#/" data-ng-class="{active:isActive('/')}">Home</a></li>
		   <li><a href="#/user_user_listView" data-ng-class="{active:isActive('/user_user_listView')}">user_listView</a></li>

			
        	<li class="logout"><a href="javascript://" data-ng-click="logoutnow()">Logout</a></li>
</ul>
</div>