<div data-ng-include="'templates/topmenuu.html'"></div>
      
			
			

                <!-- // #main -->
                       
                <head>
<style> 
input[type=text] {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>
</head>

<div style="background-color:grey;width:200px;">
			<a style="text-decoration:none;color:black;" href="exportToXl.php">Export Fil to Excel</a>
			</div><br>


                
            <!-------------------------------------------------------------------------->
            
                <div id="main">
					
                  Yearly Filter:
                        <input type="text" name="search" id="search" ng-model="search" ng-change="filter()" placeholder="HERE" size="23" /><p></p>

                    	<table cellpadding="0" cellspacing="0" id="userTableTr">
							<tr>
								<td><a ng-click="predicate='id';reverse=!reverse">ID</a></td>
								<td><a ng-click="predicate='VahicalName';reverse=!reverse"> Vahical  Name</a></td>
								<td><a ng-click="predicate='Vahicalno';reverse=!reverse"> Vahical no</a></td>
								<td><a ng-click="predicate='DriverName';reverse=!reverse">Driver Name</a></td>
								<td><a ng-click="predicate='LicanceNo';reverse=!reverse">Licance No</a></td>
								<td><a ng-click="predicate='StartTime';reverse=!reverse">Start time</a></td>
								<td><a ng-click="predicate='EndTime';reverse=!reverse">End time</a></td>
								<td><a ng-click="predicate='Fule';reverse=!reverse">Fule</a></td>
								<td><a ng-click="predicate='Kilometers';reverse=!reverse">Kilometers</a></td>
								<td class="action">Action</td>
                                                     </tr>

							<tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse)" data-ng-class-odd="'odd'" data-ng-class-even="'even'" >
								<td>{{data.id }}</td>
								<td>{{data.VahicalName}}</td>
								<td>{{data.Vahicalno}}</td>
								<td>{{data.DriverName}}</td>
								<td>{{data.LicanceNo}}</td>
								<td>{{data.StartTime}}</td>
								<td>{{data.EndTime}}</td>
								<td>{{data.Fule}}</td>
								<td>{{data.Kilometers}}</td>
								
								<td class="action"><a href="#/newuser2/{{data.id }}">Edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript://" data-ng-click="delete_user(data.id);">Delete</a>
								</td>
							</tr>
                            <tr ng-show="filteredItems <= 0"><td align="center" colspan="5" style="color:red;font-weight:bold;">No records found.</td></tr>


                        </table><br /><br />
                        <div ng-show="filteredItems > 0">
                            <div pagination="" max-size="10" ng-model="currentPage" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;" first-text="&lt;" last-text="&gt;" rotate="false">
                            </div>
                        </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>
        <!-- // #containerHolder -->
